{% extends "layout.html" %}

{% block content %}

<h2>Consulta crédito</h2>

<form action="/resultado" method="POST">

<label>Edad mínima</label>
<input name="edad">

<label>Ingreso mínimo</label>
<input name="ingreso">

<label>Nivel estudios</label>
<input name="estudios">

<label>Amortización</label>

<select name="amortizacion">
<option value="frances">Francesa</option>
<option value="alemana">Alemana</option>
</select>

<button>Buscar</button>

</form>

<div class="card">
<h3>Tipos de amortización</h3>
<ul>
<li>Francesa</li>
<li>Alemana</li>
</ul>
</div>

{% endblock %}
