{% extends "layout.html" %}
{% block title %}Evaluación{% endblock %}

{% block content %}

<div class="card-form">
    <h2>Evaluación Individual de Crédito</h2>

    <form action="/evaluar" method="post">

        <div class="form-grid">

            <div>
                <label>Edad</label>
                <input type="number" name="edad" required>
            </div>

            <div>
                <label>Ingreso Anual (€)</label>
                <input type="number" name="ingreso" required>
            </div>

            <div>
                <label>Nivel de Estudios</label>
                <select name="estudios">
                    <option>Secundaria</option>
                    <option>Universitario</option>
                    <option>Postgrado</option>
                </select>
            </div>

            <div>
                <label>Estado Civil</label>
                <select name="estado_civil">
                    <option>Soltero</option>
                    <option>Casado</option>
                </select>
            </div>

            <div>
                <label>Número de Créditos</label>
                <input type="number" name="num_creditos" required>
            </div>

        </div>

        <button class="btn-principal" type="submit">
            Evaluar Riesgo
        </button>

    </form>
</div>

{% endblock %}